@charset "UTF-8";
@import "icon.css";

body {touch-action: none;}

/* scrollbar - chrome, safari */
::-webkit-scrollbar {width: 5px; height: 5px; border:none; }
::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment {display: block; height: 10px; background: none;}
::-webkit-scrollbar-track {background: #f1f1f1; -webkit-border-radius: 10px; border-radius:10px; -webkit-box-shadow: inset 0 0 1px rgba(241,241,241,.2)}
::-webkit-scrollbar-thumb {background: rgba(225, 225, 225, 0.8); -webkit-border-radius: 8px; border-radius: 8px; -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,.2)}

/* skip nav */
.skip-nav {position: fixed;top: 0;left: 0;z-index: 10000;width: 100%;text-align: center;background-color: var(--Balck, #111);}
.skip-nav a:not(:focus) {position: absolute;width: 1px;height: 1px;padding: 0;margin: -1px;overflow: hidden;clip: rect(0, 0, 0, 0);white-space: nowrap;border: 0;}
.skip-nav a:focus {display: flex;align-items: center;justify-content: center;flex-direction: row;outline-offset: -0.4px;outline: 2px solid rgba(255, 255, 255, 0.9);font-size: 16px;color: var(--White, #FFF);width: 100%;height: 32px;margin: 0 auto;text-align: center;}

/* btn top */
.btn-top {width: 67px;height: 67px;border-radius: 100px;border: 1px solid var(--sub_gray_1, #E7E7E7);background: var(--White, #FFF);font-size: 17px;
    position: fixed;bottom: 64px;right: 63px;z-index: 10;overflow: hidden;}
.btn-top i {position: absolute;left: 0;top: 0;width: 100%;height: 100%;transition: transform 0.2s ease;display: flex;justify-content: center;align-items: center;}
.btn-top i.out {transform: translateY(0);color: var(--Balck, #111);}
.btn-top i.in {transform: translateY(100%);color: var(--Point, #FF7409);}
.btn-top:hover i.out {transform: translateY(-100%);}
.btn-top:hover i.in {transform: translateY(0);}

/* btn qa */
.btn-qa {display: flex;width: 67px;height: 67px;justify-content: center;align-items: center;border-radius: 100px;background: var(--Main, #002E5F);color: var(--White, #FFF);font-size: 20px;position: fixed;bottom: 147px;right: 63px;z-index: 10;}
.btn-qa:hover {background: var(--Point, #FF7409);}

/* header */
#header {position: fixed;top: 0;left: 0;width: 100%;height: 82px;/*transition: transform 0.3s ease;*/border-bottom: 1px solid var(--sub_gray_1, #E7E7E7);background: var(--White, #FFF);z-index: 100;}
#header.hide {transform: translateY(-100%);}
.header-inner {display:flex;width: 100%;height: 100%;}
.header-inner .logo {position:absolute;left: 62px;top:0;height: 82px;z-index: 1;}
.header-inner .logo a {display:flex;width: 178px;height:100%;background:url(../images/logo.svg) center center / 100% auto no-repeat;text-align:left;text-indent:-9999px;}
.header-inner .header-util {position:absolute;right: 62px;top: 0;display:flex;align-items: center;height: 82px;}
.header-inner .header-util .btn-contact {display: inline-flex;justify-content: center;align-items: center;padding: 13px 23px;border-radius: 100px;border: 1px solid var(--sub_gray_1, #E7E7E7);background: #FFF;color: var(--gray_blue, #676A79);font-size: 14px;font-weight: 700;line-height: 100%;}
.header-inner .header-util .btn-contact:hover {border: 1px solid rgba(237, 107, 6, 0.80);color: var(--Point, #FF7409);}

/* nav */
.nav {position: relative;width: 100%;height: 100%;}
.nav .one-depth-wp {height: 100%;display: flex;justify-content: center;align-items: center;}
.nav .one-depth-wp > li {width: 182px;height: 100%;}
.nav .one-depth-wp > li .one-depth {position: relative;display: inline-flex;justify-content: center;align-items: center;width: 80px;height: 100%;color: var(--Balck, #111);font-size: 18px;font-weight: 600;line-height: 100%;}
.nav .one-depth-wp > li:hover .one-depth {color: var(--Point, #FF7409);}
.nav .one-depth-wp > li:hover .one-depth::after {content: '';position: absolute; bottom: -1px;left: 0;display: block;width: 100%;height: 2px;background: var(--Point, #FF7409);}
.nav .one-depth-wp::before {content: '';position: absolute;top: 82px;left: 0;width: 100vw;height: 300px;display: none;background: #FFF;z-index: 100;}
.nav .one-depth-wp:hover::before {display: block;}
.nav .one-depth-wp:hover .two-depth-wp {display: block;}
.nav .two-depth-wp {display: none;}
.nav .two-depth-wp {position: absolute;top: 100%;width: 182px;height: 300px;padding: 15px 0 17px;z-index: 101;}
.nav .two-depth-wp > li {padding: 6px;margin-bottom: 8px;}
.nav .two-depth-wp > li:last-child {margin-bottom: 0;}
.nav .two-depth-wp > li .two-depth {color: var(--gray_blue, #676A79);font-size: 15px;font-weight: 500;line-height: 100%;word-break: keep-all;}
.nav .two-depth-wp > li .two-depth:hover {color: var(--Point, #FF7409);}

/* mobile nav */
.header-inner .header-util .btn-menu {display: none;color: var(--Main, #002E5F);font-size: 20px;background: none;border: none;padding: 0;}
.header-inner .header-util .btn-menu i {vertical-align: middle;}

.mo-nav {display: none;}
.mo-nav.on {display: flex;}
.btn-menu.on .icon-menu, .btn-menu .icon-close {display: none;}
.btn-menu .icon-menu, .btn-menu.on .icon-close {display: block;}
.mo-nav {position: fixed;flex-direction: column;width: 100vw;height: 100vh;background: #FFF;z-index: 90;padding: 72px 0 50px;}
.mo-nav .contact-wp {padding: 0 24px;}
.mo-nav .contact {display: flex;justify-content: flex-start;gap: 40px;width: 100%;border-top: 1px solid var(--sub_gray_1, #E7E7E7);padding: 24px 8px 0;}
.mo-nav .contact .tel ,
.mo-nav .contact .email a {color: var(--Main, #002E5F);font-size: 14px;font-weight: 700;line-height: 100%;}
.mo-nav .contact .tel > b,
.mo-nav .contact .email > b {display: block;color: var(--gray_text, #9CA3AF);font-size: 14px;font-weight: 700;line-height: 100%;margin-bottom: 6px;}
.mo-nav .one-depth-wp {flex: auto;overflow: auto;}
.mo-nav .one-depth-wp .one-depth {position: relative;display: block;color: var(--Balck, #111);font-size: 20px;font-weight: 700;line-height: 100%;padding: 16px 24px;}
.mo-nav .one-depth-wp .one-depth > i {position: absolute;right: 24px;top: 22px;font-size: 8px;transition: all ease-in 200ms;}
.mo-nav .two-depth-wp {background: var(--sub_gray_00, #F9F9F9);padding: 12px 32px;}
.mo-nav .two-depth-wp .two-depth {display: block;color: var(--Balck, #111);font-size: 16px;font-weight: 600;line-height: 100%;padding: 10px 8px;}
/* on */
.mo-nav .two-depth-wp {max-height: 0;opacity: 0;overflow: hidden;padding: 0 32px;transition: all ease-out 200ms;}
.mo-nav .one-depth-wp > li.on .one-depth > i {transform: rotateX(180deg);}
.mo-nav .one-depth-wp > li.on .two-depth-wp {max-height: 500px;opacity: 1;padding: 12px 32px;}

/* footer */
#footer {width: 100%;height: 344px;background: var(--sub_gray_6, #232323);}
.footer-inner {width: 100%;height: 100%;}
.footer-inner hr {display: block;width: 100%;max-width: 100vw;height: 1px;background: #353535;margin: 0;border: none;}
.footer-inner .top-wp {height: 261px;max-width: 1240px;width: 100%;padding: 56px 0 34px;margin: 0 auto;}
.footer-inner .top-wp .f-link {display: flex;justify-content: space-between;}
.footer-inner .top-wp .f-link .link {display: flex;justify-content: flex-start;align-items: center;gap: 40px;width: 430px;}
.footer-inner .top-wp .f-link .link .line {display: block;width: 1px;height: 14px;background: #808080;}
.footer-inner .top-wp .f-link .link a {color: #FFF;font-size: 16px;font-weight: 600;line-height: 32px;}
.footer-inner .top-wp .f-link .link a:hover {color: var(--Point, #FF7409);}
.footer-inner .top-wp .f-info {display: flex;justify-content: space-between;align-items: center;padding-top: 42px;}
.footer-inner .top-wp .f-info .info .name {color: var(--sub_gray_1, #E7E7E7);font-size: 18px;font-weight: 700;line-height: 32px;}
.footer-inner .top-wp .f-info .info .ceo {color: var(--sub_gray_4, #A6A6A6);font-size: 16px;font-weight: 400;line-height: 32px;}
.footer-inner .top-wp .f-info .info .address {color: var(--sub_gray_4, #A6A6A6);font-size: 16px;font-weight: 400;line-height: 32px;}
.footer-inner .top-wp .f-info .contact {width: 430px;display: flex;justify-content: space-between;}
.footer-inner .top-wp .f-info .contact .tel > b,
.footer-inner .top-wp .f-info .contact .email > b {display: block;color: #FFF;font-size: 16px;font-weight: 700;line-height: 100%;}
.footer-inner .top-wp .f-info .contact .tel > span,
.footer-inner .top-wp .f-info .contact .email > a {display: block;color: var(--sub_gray_5, #808080);font-size: 18px;font-weight: 700;line-height: 100%;margin-top: 10px;}
.footer-inner .bottom-wp {max-width: 1240px;width: 100%;height: 83px;margin: 0 auto;}
.footer-inner .bottom-wp .f-copyright {color: var(--sub_gray_5, #808080);font-size: 15px;font-weight: 400;line-height: 32px;padding: 23px 0 28px;}

/* sub page nav */
.sub-nav {position: sticky;top: 82px;left: 0;width: 100%;height: 72px;border-bottom: 1px solid var(--sub_gray_1, #E7E7E7);background: var(--White, #FFF);box-shadow: 0px 3px 6px 0px rgba(204, 204, 204, 0.25);z-index: 11;}
.sub-nav.top {top: 0;}
.sub-nav .inner {max-width: 1200px;height: 100%;display: flex;align-items: center;margin: 0 auto;}
.sub-nav .home-link {display: block;color: var(--sub_gray_5, #808080);font-size: 18px;line-height: 15px;margin-right: 24px;}
.sub-nav .home-link:hover {color: var(--Point, #FF7409);}
.sub-name {display: block;color: var(--sub_gray_5, #808080);font-size: 16px;font-weight: 500;line-height: 100%;padding: 0 24px;border-left: 1px solid var(--sub_gray_1, #E7E7E7);border-right: 1px solid var(--sub_gray_1, #E7E7E7);}
.sub-link-wp {position: relative;}
.sub-link {width: 256px;display: flex;align-items: center;justify-content: space-between;color: var(--gray_blue, #676A79);border-right: 1px solid var(--sub_gray_2, #D4D4D4);padding: 0 24px;}
.sub-link > span {font-size: 16px;font-weight: 500;line-height: 100%;}
.sub-link > i {font-size: 8px;}
.sub-link:hover,
.sub-link-wp.on .sub-link {color: var(--Main, #002E5F);}
.sub-link-list {display: none;position: absolute;top: 36px;left: 15px;padding: 15px 10px 13px 8px;border: 1px solid var(--Main, #002E5F);background: #FFF;box-shadow: 0px 6px 10px 0px rgba(183, 183, 183, 0.30);z-index: 10;}
.sub-link-list li {margin-bottom: 5px;}
.sub-link-list li:last-child {margin-bottom: 0;}
.sub-link-list li a {display: block;color: var(--gray_blue, #676A79);font-size: 15px;font-weight: 500;line-height: 100%;padding: 8px;}
.sub-link-list li a:hover {color: var(--Point, #FF7409);}
.sub-link-wp.on .sub-link-list {display: block;}

/* bottom banner */
.bottom-banner {width: 100%;height: 248px;padding: 58px 0 48px;background: url(../images/banner_bg.png) no-repeat center;}
.bottom-banner .inner {width: 100%;display: flex;flex-direction: column;justify-content: center;align-items: center;}
.bottom-banner .banner-txt {color: var(--White, #FFF);font-size: 28px;font-weight: 400;line-height: 100%;}
.bottom-banner .banner-txt b {font-weight: 800;}
.bottom-banner .contact {display: flex;gap: 42px;margin-top: 19px;}
.bottom-banner .contact .tel > b,
.bottom-banner .contact .email > b {color: var(--Point, #FF7409);font-size: 17px;font-weight: 700;line-height: 100%;margin-right: 8px;}
.bottom-banner .contact .tel > span,
.bottom-banner .contact .email > span  {color: var(--White, #FFF);font-size: 17px;font-weight: 700;line-height: 100%;}
.bottom-banner .ask-link {display: inline-flex;padding: 14px 32px;justify-content: center;align-items: center;border-radius: 100px;background: var(--Point, #FF7409);color: var(--White, #FFF);font-size: 16px;font-weight: 700;line-height: 100%;margin-top: 31px;}
.bottom-banner .ask-link:hover {background: var(--White, #FFF);color: var(--Point, #FF7409);}

/* sub page */
.sub-contents {padding-top: 82px;padding-bottom: 100px;}
.intro-wp {padding: 51px 0 0;}
.intro-wp .inner {max-width: 1400px;margin: 0 auto;}
.intro-tit {color: var(--Main, #002E5F);font-size: 60px;font-weight: 800;line-height: 140%;word-break: keep-all;}
.intro-txt {color: var(--sub_gray_6, #232323);font-size: 18px;font-weight: 500;line-height: 140%;margin-top: 22px;}
.intro-img {position: relative;width: 100%;height: 240px;margin-top: 56px;background-color: #191826;overflow: hidden;}
.intro-img img {width: 100%;height: 100%;object-fit: cover;}
.intro-img .mo {display: none;}
.scroll-tab-wp {position: sticky;opacity: 0;top: 140px;padding: 50px 0 0;width: 100%;text-align: center;z-index: 10;animation: scrollTabAni 1000ms ease forwards;animation-delay: 1500ms;}
@keyframes scrollTabAni {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.scroll-tab-wp.top {top: 71px;}
.scroll-tab {display: inline-flex;padding: 11px 31px;justify-content: center;align-items: center;gap: 40px;border-radius: 10px;border: 1px solid var(--sub_gray_6, #232323);background: rgba(33, 33, 33, 0.82);background-blend-mode: multiply;backdrop-filter: blur(4px);}
.scroll-tab li {width: 80px;padding: 8px 0;}
.scroll-tab li a {color: var(--White, #FFF);text-align: center;font-size: 18px;font-weight: 400;line-height: 140%;}
.scroll-tab li.on a {font-weight: 800;}
.scroll-tab li.on a::before {content: '';display: inline-block;width: 8px;height: 8px;background: var(--Point, #FF7409);border-radius: 100px;margin-right: 8px;vertical-align: middle;}

.sub-section {max-width: 1280px;padding-top: 108px;margin: 0 auto;}
.sub-section .title {color: var(--sub_gray_6, #232323);text-align: center;font-size: 32px;font-weight: 400;line-height: 100%;margin-bottom: 50px;}
.sub-section .title b {font-weight: 800;}
.sub-section .sub-title {color: var(--gray_blue, #676A79);text-align: center;font-size: 18px;font-weight: 500;line-height: 160%; /* 28.8px */margin-top: 13px;}

.sub-section .infographic {display: flex;justify-content: center;align-items: center;}
.sub-section .infographic img {max-width: 100%;}
.sub-section .infographic .pc {max-width: 100%;height: auto;}
.sub-section .infographic .mo {display: none;}

.info-box-wp.col-3 {display: flex;flex-direction: column;gap: 40px;}
.info-box-wp .row {display: flex;justify-content: space-between;align-items: stretch;}
.info-box-wp.col-3 .row {gap: 40px;}
.info-box-wp.col-4 .row {gap: 24px;}
.info-box-wp .info-box {flex: 1;display: flex;flex-direction: column;justify-content: center;align-items: flex-start;gap: 12px;border-radius: 16px;background: var(--sub_gray_00, #F9F9F9);}
.info-box-wp.col-3 .info-box {padding: 33px 51px 35px;}
.info-box-wp.col-4 .info-box {padding: 33px 40px 35px;}
.info-box-wp .info-box .box-tit {color: var(--sub_gray_6, #232323);font-size: 20px;font-weight: 700;line-height: 140%;}
.info-box-wp .info-box .box-txt {color: var(--sub_gray_6, #232323);font-size: 17px;font-weight: 400;line-height: 160%;word-break: keep-all;}
.info-box-wp .info-box .box-list {padding-left: 20px;}
.info-box-wp .info-box .box-list li {color: var(--sub_gray_6, #232323);font-size: 17px;font-weight: 400;line-height: 180%;list-style: disc;}
.info-box-wp.list-style .info-box {padding: 33px 43px;}
.list-style .row {gap: 24px !important;}

.expectation-graphic {position: relative;padding: 96px 60px 0;}
.expectation-graphic .bg-box {width: 100%;height: 300px;overflow: hidden;position: absolute;left: 0;top: 0;z-index: -1;}
.expectation-graphic .bg-box img {width: 100%;height: 100%;object-fit: cover;}
.expectation-graphic .bg-box .mo {display: none;}
.expectation-graphic .graphic-box {display: flex;align-items: center;background: #FFF;box-shadow: 0px 32px 32px 0px rgba(212, 212, 212, 0.30);padding: 93px 52px;}
.expectation-graphic .graphic-box .left {max-width: 80%;}
.expectation-graphic .graphic-box .right {max-width: 20%;}
.expectation-graphic .graphic-box img {width: 100%;}
.expectation-graphic .graphic-box .pc {display: block;}
.expectation-graphic .graphic-box .mo {display: none;}


.process-wp {min-height: 362px;padding:0 30px;}
.process {position: relative;display: flex;justify-content: center;align-items: center;padding: 50px;border-radius: 500px;border: 1px dashed var(--Point, #FF7409);}
.process img {max-width: 100%;}
.process::before {content: '';display: block;position: absolute;left: 30%;top: -5px;width: 11px;height: 11px;border-radius: 11px;background: var(--Point, #FF7409);
  animation: dotTopAni 4s ease-out infinite;}
.process::after {content: '';display: block;position: absolute;right: 30%;bottom: -5px;width: 11px;height: 11px;border-radius: 11px;background: var(--Point, #FF7409);
  animation: dotBottomAni 4s ease-out infinite;}
.process .mo {display: none;}

.scope {position: relative;display: flex;justify-content: center;align-items: center;}
.scope .mo {display: none;}


@keyframes dotTopAni {
  0% {
    left: 30%;
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    left: 80%;
    opacity: 0;
  }}
  @keyframes dotBottomAni {
  0% {
    right: 30%;
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    right: 80%;
    opacity: 0;
  }}


.example-box-wp {display: flex;justify-content: center;align-items: stretch;gap: 16px;}
.example-box {flex: 1;border: 1px solid var(--sub_gray_2, #D4D4D4);background: #FFF;padding-bottom: 35px;}
.example-box img {width: 100%;}
.example-box .box-tit {color: var(--Blue, #0458F9);font-size: 24px;font-weight: 700;line-height: 160%;margin-top: 24px;padding: 0 23px;}
.example-box .box-txt {color: var(--gray_blue, #676A79);font-size: 16px;font-weight: 500;line-height: 160%;padding: 0 23px;word-break: keep-all;}


.certification-box-wp {display: flex;gap: 20px;}
.certification-box-wp .group {width: 33.33%; display: flex;flex-wrap: wrap;column-gap: 20px;row-gap: 24px;}
.certification-box-wp .certification-box {display: inline-flex;flex-direction: column;justify-content: flex-start;align-items: center;width: calc(50% - 10px); height: 240px;border-radius: 8px;background: #F9F9F9;}
.certification-box-wp .certification-box .box-img {height: 112px;display: flex;justify-content: center;align-items: center;}
.certification-box-wp .certification-box .box-tit {color: var(--sub_gray_6, #232323);text-align: center;font-size: 20px;font-weight: 700;line-height: 140%; /* 28px */}
.certification-box-wp .certification-box .box-txt {color: var(--sub_gray_6, #232323);text-align: center;font-size: 16px;font-weight: 400;line-height: 160%; /* 25.6px */margin-top: 7px;}
.mo-pagination-bullet {display: none;justify-content: center;gap: 8px;margin-top: 24px;}
.mo-pagination-bullet .bullet {display: inline-block;width: 8px;height: 8px;background: var(--sub_gray_4, #A6A6A6);border-radius: 100px;cursor: pointer;transition: 200ms;}
.mo-pagination-bullet .bullet.on {width: 24px;background: var(--Main, #002E5F);}


/* PC */
@media screen and (min-width: 1281px) and (max-width: 1400px) {
    .nav .one-depth-wp {justify-content: flex-start;padding-left: 280px;}
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1280px) {
  body {touch-action: auto;}
    #header {height: 72px;border-bottom: 0;}
    #header.hide {transform: none;}
    .header-inner .logo {left: 23px;height: 72px;}
    .header-inner .logo a {width: 170px;}
    .header-inner .header-util {height: 72px;right: 24px;}
    .header-inner .header-util .btn-contact {display: none;}
    .header-inner .header-util .btn-menu {display: block;}
    .nav {display: none;}
    #footer {height: auto;}
    .footer-inner {padding: 0 24px;}
    .footer-inner hr {display: none;}
    .footer-inner .top-wp {height: auto;padding: 42px 0 0;}
    .footer-inner .top-wp .f-link {flex-direction: column;align-items: flex-start;}
    .footer-inner .top-wp .f-link .logo {height: 21px;opacity: 0.6;margin-bottom: 37px;}
    .footer-inner .top-wp .f-link .link {width: 100%;justify-content: space-evenly;gap: 0;border-top: 1px solid rgba(103, 106, 121, 0.2);border-bottom: 1px solid rgba(103, 106, 121, 0.2);padding: 10px 0;}
    .footer-inner .top-wp .f-link .link a {font-size: 14px;}
    .footer-inner .top-wp .f-link .link .line {background: #676A79;}
    .footer-inner .top-wp .f-info {flex-direction: column-reverse;align-items: flex-start;padding-top: 25px;}
    .footer-inner .top-wp .f-info .contact {width: 100%;}
    .footer-inner .top-wp .f-info .contact .tel > b, .footer-inner .top-wp .f-info .contact .email > b {font-size: 14px;}
    .footer-inner .top-wp .f-info .contact .tel > span, .footer-inner .top-wp .f-info .contact .email > a {color: var(--sub_gray_5, #808080);font-size: 16px;margin-top: 6px;}
    .footer-inner .top-wp .f-info .info {padding-top: 30px;}
    .footer-inner .top-wp .f-info .info .name {color: var(--sub_gray_5, #808080);font-size: 13px;font-weight: 700;line-height: 180%;}
    .footer-inner .top-wp .f-info .info .ceo,
    .footer-inner .top-wp .f-info .info .address {color: var(--sub_gray_5, #808080);font-size: 13px;font-weight: 400;line-height: 180%;word-break: keep-all;}
    .footer-inner .bottom-wp {height: auto;}
    .footer-inner .bottom-wp .f-copyright {color: var(--sub_gray_5, #808080);font-size: 12px;font-weight: 400;line-height: 32px;padding: 8px 0 22px;}
    
    .sub-nav .inner {padding: 0 23px;}
    .sub-contents {padding: 72px 0 100px;}
    .sub-nav {top: 72px;}
    .sub-nav.top {top: 72px;}
    .scroll-tab-wp {top: 144px;}
    .scroll-tab-wp.top {top: 144px;}
    
    
    .intro-wp .inner {padding: 0 32px;}
    .intro-tit {font-size: 48px;}
    .intro-img {height: 184px;}
    .sub-section {padding-left: 32px;padding-right: 32px;}

    .info-box-wp.col-3 .row {gap: 24px;}
    .expectation-graphic {padding: 96px 50px 40px;}
    .expectation-graphic .graphic-box {padding: 58px 40px;}
}

/* Mobile */
@media screen and (max-width: 767px) {
  body {touch-action: auto;}
    #header {height: 72px;border-bottom: 0;}
    #header.hide {transform: none;}
    .header-inner .logo {left: 23px;height: 72px;}
    .header-inner .logo a {width: 170px;}
    .header-inner .header-util {height: 72px;right: 24px;}
    .header-inner .header-util .btn-contact {display: none;}
    .header-inner .header-util .btn-menu {display: block;}
    .nav {display: none;}
    #footer {height: auto;}
    .footer-inner {padding: 0 24px;}
    .footer-inner hr {display: none;}
    .footer-inner .top-wp {height: auto;padding: 42px 0 0;}
    .footer-inner .top-wp .f-link {flex-direction: column;align-items: flex-start;}
    .footer-inner .top-wp .f-link .logo {height: 21px;opacity: 0.6;margin-bottom: 37px;}
    .footer-inner .top-wp .f-link .link {width: 100%;justify-content: space-evenly;gap: 0;border-top: 1px solid rgba(103, 106, 121, 0.2);border-bottom: 1px solid rgba(103, 106, 121, 0.2);padding: 10px 0;}
    .footer-inner .top-wp .f-link .link a {font-size: 14px;}
    .footer-inner .top-wp .f-link .link .line {background: #676A79;}
    .footer-inner .top-wp .f-info {flex-direction: column-reverse;align-items: flex-start;padding-top: 25px;}
    .footer-inner .top-wp .f-info .contact {width: 100%;}
    .footer-inner .top-wp .f-info .contact .tel > b, .footer-inner .top-wp .f-info .contact .email > b {font-size: 14px;}
    .footer-inner .top-wp .f-info .contact .tel > span, .footer-inner .top-wp .f-info .contact .email > a {color: var(--sub_gray_5, #808080);font-size: 16px;margin-top: 6px;}
    .footer-inner .top-wp .f-info .info {padding-top: 30px;}
    .footer-inner .top-wp .f-info .info .name {color: var(--sub_gray_5, #808080);font-size: 13px;font-weight: 700;line-height: 180%;}
    .footer-inner .top-wp .f-info .info .ceo,
    .footer-inner .top-wp .f-info .info .address {color: var(--sub_gray_5, #808080);font-size: 13px;font-weight: 400;line-height: 180%;word-break: keep-all;}
    .footer-inner .bottom-wp {height: auto;}
    .footer-inner .bottom-wp .f-copyright {color: var(--sub_gray_5, #808080);font-size: 12px;font-weight: 400;line-height: 32px;padding: 8px 0 22px;}

    .btn-top {width: 56px;height: 56px;right: 24px;bottom: 25px;}
    .btn-qa {width: 56px;height: 56px;right: 24px;bottom: 97px;}

    .bottom-banner {height: 232px;padding: 25px 0;}
    .bottom-banner .banner-txt {font-size: 18px;text-align: center;line-height: 160%;}
    .bottom-banner .banner-txt b {display: block;}
    .bottom-banner .contact {flex-direction: column;align-items: center;gap: 8px;margin-top: 15px;}
    .bottom-banner .contact .tel > b, 
    .bottom-banner .contact .email > b {font-size: 15px;margin-right: 4px;}
    .bottom-banner .contact .tel > span, 
    .bottom-banner .contact .email > span {font-size: 15px;}
    .bottom-banner .ask-link {font-size: 15px;padding: 12px 20px;margin-top: 24px;}

.sub-contents {padding: 72px 0 50px;}
.sub-section .title {font-size: 24px;margin-bottom: 34px;}

    .sub-nav {position: initial;height: 74px;border-bottom: none;box-shadow: none;padding-top: 6px;}
    .sub-nav .inner {height: auto;justify-content: flex-end;padding: 0 10px;}
    .sub-nav .home-link {margin-right: 16px;}
    .sub-name {font-size: 14px;line-height: 12px;padding: 0 16px;border-left: 1px solid var(--sub_gray_4, #A6A6A6);border-right: 1px solid var(--sub_gray_4, #A6A6A6);}
    .sub-link {width: auto;border-right: none;padding: 0 16px;}
    .sub-link > span {color: var(--sub_gray_5, #808080);font-size: 14px;}
    .sub-link > i {display: none;}
    .sub-link-list {display: none !important;}

    .intro-wp {padding: 0;}
    .intro-wp .inner {padding: 0 24px;}
    .intro-tit {font-size: 30px;}
    .intro-txt {font-size: 14px;margin-top: 18px;word-break: keep-all;}
    .intro-img {height: 176px;margin-top: 29px;}
    .intro-img .mo {display: block;}
    .intro-img .pc {display: none;}

    .scroll-tab-wp {top: 72px;padding: 33px 0 0;}
    .scroll-tab {padding: 7px 12px;gap: 0;}
    .scroll-tab li a {font-size: 16px;}
    .sub-section {padding: 45px 20px 30px;}
    .sub-section .infographic .mo {display: block;}
    .sub-section .infographic .pc {display: none;}

    .info-box-wp .row {flex-direction: column;}
    .info-box-wp .info-box {position: relative;width: 100%;flex-wrap: wrap;flex-direction: row;justify-content: flex-start;align-items: center;gap: 0;padding: 24px !important;}
    .info-box-wp .info-box .box-tit {max-width: calc(100% - 64px);padding-left: 20px;font-size: 18px;line-height: 140%;word-break: keep-all;}
    .info-box-wp .info-box .box-txt {min-width: 100%;font-size: 16px;padding-top: 0;}
    .info-box-wp .info-box .box-txt br {display: none;}
    .info-box-wp.col-3 {gap: 16px;}
    .info-box-wp.col-3 .row {gap: 16px;}
    .info-box-wp.col-4 .row {gap: 16px;}
    .info-box-wp.col-3 .info-box {min-height: 156px;}
    .info-box-wp.col-4 .info-box {min-height: 180px;}

    .expectation-graphic {padding: 113px 18px 0;}
    .expectation-graphic .bg-box .pc {display: none;}
    .expectation-graphic .bg-box .mo {display: block;}
    .expectation-graphic .graphic-box {flex-direction: column;align-items: center;gap: 6px;padding: 45px 69px 55px;box-shadow: 0px 10px 24px 0px rgba(212, 212, 212, 0.40);}
    .expectation-graphic .graphic-box .left, 
    .expectation-graphic .graphic-box .right {max-width: 100%;}
    .expectation-graphic .graphic-box .right img {max-width: 170px;height: auto;}
    .expectation-graphic .graphic-box .pc {display: none;}
    .expectation-graphic .graphic-box .mo {display: block;}

    .process-wp {display: flex;justify-content: center;}
    .process .pc {display: none;}
    .process .mo {display: block;}
    .process::before {content: none;}
    .process::after {content: none;}

    .example-box-wp {flex-direction: column;align-items: center;gap: 8px;}
    .example-box {width: 100%;max-width: 304px;}

    .scope .pc {display: none;}
    .scope .mo {display: block;}

    .info-box-wp .info-box .box-list {padding-top: 16px;}
    .info-box-wp .info-box .box-list li {color: var(--sub_gray_6, #232323);font-size: 15px;font-weight: 400;}

  .certification-box-wp .group {min-width: 100%;}
  .certification-box-wp {gap: 16px; overflow-x: scroll;scroll-snap-type: x mandatory;-webkit-overflow-scrolling: touch;scroll-behavior: smooth;scrollbar-width: none;       /* Firefox */-ms-overflow-style: none;    /* IE/Edge */}
  .scertification-box-wp::-webkit-scrollbar {display: none;               /* Chrome/Safari */}
  .certification-box-wp .group {scroll-snap-align: start;}
  .certification-box-wp .certification-box {width: calc(50% - 8px);height: 224px;}
  .certification-box-wp .group {gap: 16px;}
  .mo-pagination-bullet {display: flex;}

}